@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla");
body {
  font-family: "Karla";
  font-size: 18px;
  line-height: 1.5;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}

/*-------------------------*/
.section {
  padding: 96px 0;
}
.section.section-project-wrapper {
  padding-bottom: 0;
}
.section.about-me {
  margin: 120px 0 0;
}

.navbar {
  padding: 0;
}
.navbar.fixed-top {
  height: 96px;
}
.navbar .navbar-brand {
  margin: 12px 16px;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
}
.navbar .navbar-collapse {
  padding: 0 16px 0 0;
}
.navbar ul li a {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #151515;
  padding: 0 16px !important;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar ul li a:hover {
  color: #0d6efd;
}
.navbar ul li a.active {
  color: #0d6efd;
  position: relative;
}
.navbar ul li a.active:after {
  content: "";
  position: absolute;
  display: block;
  background: #0d6efd;
  width: 50%;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -4px;
}
.navbar .nav-social {
  display: flex;
  margin: 0;
}
.navbar.scrolled {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1140px;
}

.navigation {
  padding: 15px;
  transition: 0.3s ease;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-scrolled {
  background-color: #000;
}

.bg-primary {
  background: #41228e !important;
}

button a {
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease;
}
.btn i {
  margin: 0 0 0 8px;
  font-size: 14px;
}
.btn.btn-primary:hover {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
.btn.btn-primary:hover a {
  color: #fff !important;
}
.btn.btn-primary:active {
  outline: none;
  border: none;
}

.text-overlay {
  font-size: 400px;
  font-weight: 900;
  letter-spacing: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.intro {
  height: 100vh;
}

.hero-area {
  position: relative;
  overflow: hidden;
  padding: 240px 0 80px;
  background: #e8f1ff;
}
.hero-area .container {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  z-index: 9;
}
.hero-area .container .row {
  width: 100%;
}
.hero-area .hero-angle {
  position: absolute;
  left: -10vw;
  bottom: -4vw;
  z-index: 1;
  width: 120vw;
  height: 25vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  -webkit-transform: translate(0px, 13vw) rotate(9deg);
  -ms-transform: translate(0px, 13vw) rotate(9deg);
  transform: translate(0px, 13vw) rotate(9deg);
}
.hero-area .font-tertiary {
  color: #262a4f;
}
.hero-area .hero-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.hero-area .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-area .wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.hero-area .hero-info {
  max-width: calc(100% - 300px);
  padding: 40px 0 0 60px;
}
.hero-area .hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}
.hero-area .hero-info .btn-primary {
  margin: 0 16px 0 0;
}
.hero-area .hero-info .btn-light {
  background: none;
  color: #0d6efd;
}
.hero-area .hero-info .btn-light:hover {
  background: #e5e5ff;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
.hero-area .panel-text-label {
  margin-bottom: 4px;
  color: #979da9;
  font-size: 13px;
  line-height: 20px;
}
.hero-area .panel-email {
  font-size: 18px;
  font-weight: 600;
}
.hero-area .circle-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.hero-area .circle {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f96a4c;
}
.hero-area .circle-wave-1 {
  position: absolute;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 2;
  margin: auto;
  border-radius: 50%;
  background-color: #f96a4c;
  opacity: 0.2;
}
.hero-area .circle-wave-2 {
  position: absolute;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 1;
  border-radius: 50%;
  background-color: #f96a4c;
  opacity: 0.1;
}
.hero-area.sub-hero-area {
  padding: 240px 0 80px 0;
}
.hero-area.sub-hero-area h1 {
  margin: 0;
}
.hero-area.sub-hero-area.project-hero-area {
  display: flex;
  align-items: end;
  overflow: hidden;
}
.hero-area.sub-hero-area.project-hero-area .header {
  margin: 0;
  font-weight: 800;
}
.hero-area.sub-hero-area.project-hero-area .image-container {
  width: 75%;
  height: 300px;
  position: relative;
  z-index: 99;
}
.hero-area.sub-hero-area.project-hero-area .image-container .image {
  width: 100%;
  height: 100%;
  margin: 15px 0 0;
}
.hero-area.sub-hero-area.project-hero-area .hero-angle {
  position: absolute;
  left: -10vw;
  bottom: 5vw;
  z-index: 1;
  width: 120vw;
  height: 25vw;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  -webkit-transform: translate(0px, 13vw) rotate(9deg);
  -ms-transform: translate(0px, 13vw) rotate(9deg);
  transform: translate(0px, 13vw) rotate(9deg);
}
.hero-area.sub-hero-area.project-hero-area .hero-info {
  padding: 0 40px 0 0;
}
.hero-area.sub-hero-area.project-hero-area .hero-image {
  background: none;
  border-radius: 0;
  width: 50%;
  height: 420px;
  position: relative;
  overflow: visible;
  margin: -60px 0 0 0;
}
.hero-area.sub-hero-area.project-hero-area .hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.hero-area.sub-hero-area.project-hero-area.about .header {
  margin: 0;
  font-weight: 800;
  padding: 80px 0;
}

.intro-image {
  position: relative;
  z-index: 9e;
}
.intro-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 490px;
  height: 600px;
  background-image: url("../img/graph.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.intro-text {
  border-left: 1px solid #000;
  padding: 0 0 0 30px;
}

.learn-more {
  display: flex;
  align-items: center;
}
.learn-more a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.learn-more .arrow {
  position: relative;
  display: inline-block;
  background-color: #18033C;
  height: 2px;
  width: 25px;
  margin: 0 0 0 10px;
  transition: width 400ms;
}
.learn-more:hover a {
  color: #0d6efd;
}
.learn-more:hover .arrow {
  width: 50px;
  background-color: #0d6efd;
}
.learn-more.coming-soon a {
  color: #a2a2a2;
}
.learn-more.coming-soon .arrow {
  width: 25px;
  background-color: #a2a2a2;
}

/*------------------*/
.work {
  position: relative;
  z-index: 999;
}
.work h3 {
  font-size: 36px;
  font-weight: 800;
}
.work p {
  margin-bottom: 16px;
}
.work .img-fluid {
  will-change: transform;
  transition: transform 150ms;
}
.work .image-container {
  text-align: center;
}
.work .row:hover .img-fluid {
  transition: transform 250ms;
  transform: translate(0px, -25px);
}

.project-block {
  background: #fcfcfc;
  border-radius: 12px;
  padding: 64px;
  margin: 0 0 32px 0;
  will-change: transform;
  transition: transform 150ms;
  cursor: pointer;
}
.project-block .image-container {
  max-height: 300px;
  height: 300px;
  overflow: hidden;
  text-align: center;
  margin: 32px 0 0;
}
.project-block:hover {
  transition: transform 250ms;
  transform: translate(0px, -25px);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
.project-block.pending:hover {
  transform: none;
  box-shadow: none;
}

/*--------------------------------*/
.ui-project .image {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}
.ui-project .image figure {
  width: 100%;
  height: 250px;
  margin: 0;
  position: relative;
}
.ui-project .image figure img {
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.ui-project .image figure figcaption a {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.ui-project .image figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.ui-project .image figure:hover figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.ui-project .image figure:hover figcaption a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.work,
.ui-project {
  padding: 80px 0;
}

.header {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  color: rgb(51, 51, 51);
  letter-spacing: 2.5px;
  font-weight: 600;
}

.sub-header {
  font-size: 18px;
  margin: 0 0 16px;
  color: rgb(51, 51, 51);
  font-weight: 600;
}

.section-contact {
  background-color: #000;
  padding: 80px 0;
}
.section-contact .sub-header {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
}
.section-contact .header {
  color: #F3F2F4;
  margin: 0 0 32px 0;
  font-size: 3rem;
}
.section-contact .contact-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-contact .contact-wrapper .btn-primary a {
  color: #fff;
}
.section-contact .contact-wrapper .social-icons {
  margin: 32px 0 0;
}
.section-contact .contact-wrapper .social-icons ul {
  display: flex;
}
.section-contact .contact-wrapper .social-icons ul li {
  margin: 0 8px;
  width: 40px;
}
.section-contact .contact-wrapper .social-icons ul i {
  font-size: 16px;
  color: #fff;
}
.section-contact .contact-wrapper .contact {
  padding: 0 0 0 120px;
}
.section-contact .contact-wrapper .contact a {
  color: #fff;
}
.section-contact .contact-wrapper .contact a:hover {
  color: #0d6efd;
}
.section-contact .btn-primary {
  margin: 32px 0 0;
}
.section-contact p {
  color: #fff;
  margin: 0 0 10px 0;
  text-align: center;
}
.section-contact .email {
  display: inline-flex;
  border: 2px solid #fff;
  padding: 16px 32px;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
  margin: 10px 0 0;
  transition: all 0.3s ease;
}
.section-contact .email a {
  color: #fff;
  display: flex;
  align-items: center;
}
.section-contact .email a i {
  font-size: 16px;
}
.section-contact .email a .mail {
  color: #F3F2F4;
  padding-left: 10px;
}
.section-contact .email:hover {
  background: #fff;
}
.section-contact .email:hover a {
  color: #000;
}
.section-contact .email:hover span {
  color: #000;
}
.section-contact .footer-bottom {
  text-align: center;
  margin: 48px 0 0;
  opacity: 0.5;
  font-size: 14px;
}

/*-------About--------*/
.about-me {
  align-items: center;
}
.about-me .image {
  width: 100%;
  height: 460px;
  border-radius: 200px;
  overflow: hidden;
}
.about-me .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-me .about-info {
  padding: 80px 0 0 80px;
}
.about-me .about-info span {
  font-size: 14px;
  margin: 0 0 16px 0;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.about-me .about-info h2 {
  margin: 0 0 32px 0;
}

.process {
  background: #FBFBFC;
}
.process .number {
  font-size: 12px;
  font-weight: bold;
  background: #0d6efd;
  color: #fff;
  border-radius: 8px 20px 8px 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process .sub-header {
  margin: 16px 0;
}
.process .process-item:nth-child(1) {
  margin-bottom: 24px;
}
.process .process-item:nth-child(2) {
  margin-bottom: 24px;
}

.job-info .badge {
  padding: 10px 14px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 16px 0;
}
.job-info .job-desc ul {
  padding-left: 10px;
}

/*------------------------*/
/*---------------------*/
.section-header {
  margin-top: 96px;
  padding: 80px 0 0;
}
.section-header h1 {
  font-weight: bold;
  margin: 0 0 32px 0;
}

.project-content {
  margin: 0 0 80px 0;
}
.project-content.project-content-header {
  margin: 120px 0 80px;
}
.project-content.project-content-header h1 {
  font-weight: bold;
  margin: 0 0 32px 0;
}
.project-content ul {
  padding-left: 1rem;
}
.project-content .image-design-process img {
  width: auto;
  height: 380px;
  object-fit: contain;
}

.item-list .icon {
  width: 48px;
  height: 48px;
}
.item-list .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-list h5 {
  margin: 32px 0 16px;
  font-weight: bold;
}

.product-image img {
  width: 100%;
  height: 100%;
}

/*----Responsive----------*/
@media screen and (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding: 0 60px;
  }
  .navbar .container {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .hero-area {
    padding: 176px 0 80px;
  }
  .hero-area .hero-wrapper {
    flex-direction: column;
  }
  .hero-area .hero-info {
    padding: 60px 0 0;
    max-width: 100%;
  }
  .hero-area.sub-hero-area {
    padding: 176px 0 80px;
  }
  .hero-area.sub-hero-area.project-hero-area .hero-wrapper {
    flex-direction: column-reverse;
  }
  .hero-area.sub-hero-area.project-hero-area .hero-image {
    width: 100%;
    margin: 0;
  }
  .hero-area.sub-hero-area.project-hero-area .hero-info {
    padding: 0;
    margin: 60px 0 0;
  }
  .navbar-toggler {
    margin: 0 30px 0 0;
    line-height: inherit;
    height: 96px;
    border: none;
    padding: 0;
    outline: none;
  }
  .navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler.collapsed {
    border: none;
    outline: none;
  }
  .navbar-toggler .navbar-toggler-icon i {
    color: #000;
  }
  .navbar-collapse {
    transition: all 0.3s ease;
  }
  .navbar-collapse ul {
    transition-delay: 0.3s;
    transition-delay: 1s;
  }
  .navbar-collapse.show {
    height: 100vh;
    background: #fff;
    padding: 0;
  }
  .navbar-collapse.show ul {
    background: #fff;
  }
  .navbar-collapse.show ul li {
    padding: 16px 0;
  }
  .navbar ul li a.active:after {
    display: none;
  }
  .about-me .image {
    width: 400px;
    height: auto;
  }
  .about-me .about-info {
    padding: 80px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .hero-area {
    padding: 120px 0 80px;
  }
  .hero-area .hero-angle {
    display: none;
  }
  .hero-area .hero-info h1 {
    font-size: 32px !important;
  }
  .hero-area.sub-hero-area {
    padding: 120px 0 80px;
  }
  .section-contact .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .section-contact .contact-wrapper .contact {
    padding: 0;
    margin: 32px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-contact .contact-wrapper .contact .detail {
    display: flex;
  }
  .section-contact .contact-wrapper .contact .detail p {
    padding: 0 8px;
  }
  .project-content .image-design-process img {
    width: 100%;
    height: auto;
  }
  .process .process-item {
    margin: 0 0 24px 0;
  }
  .process .process-item:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
  .about-me .image {
    width: 100%;
  }
  .section-header {
    padding: 48px 0 0;
  }
  .project-content.project-content-header {
    margin: 80px 0 80px;
  }
}
